apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../upstream

patches:
- path: patch-no-host-mounts.yaml
  target:
    kind: DaemonSet
    name: node-exporter
- path: patch-one-replica.yaml
  target:
    kind: Deployment
    name: prometheus-adapter
- path: patch-one-replica.yaml
  target:
    kind: Alertmanager
    name: main
- path: patch-one-replica.yaml
  target:
    kind: Prometheus
    name: k8s
